.body-content-container {
  display: grid;
  padding: 20px;
  box-shadow: 0px 0px 32px 5px rgba(0, 0, 0, 0.2);

  .main-content-wrapper {
    padding: 40px;
  }

  .grid-layout-wrapper {
    .grid-item {
      display: grid;
      grid-template-columns: 1fr 1fr;
      justify-content: center;
      align-items: center;

      img {
        height: 200px;
        width: 60%;
      }
    }
  }

  .final-content-wrapper {
    padding: 45px;
  }
}
